* {
    margin: 0;
    padding: 0;
}


.soymain {
    background: blue;
    height: 800px;
    width: 100%;
}

.logo img{
    height: 150px;
    width: 150px;
}
.logoredes img {
    width: 40px;
    height: 40px;
}

.redes {
    width: 170px;
}

@media (max-width: 500px) {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

      .mapa {
        width: 100%;
    }
}